<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--head th:replace="fragments :: head"></head-->
<body class="container">

<!--header th:replace="fragments :: header"></header-->

<p th:text="${errorMsg}" style="color:red;"></p>

<form  method="post">
    <div class="form-group">
        <label>Book Id
            <input name="bookId" type="text" class="form-control">
        </label>
        <label>Student Id
            <input th:field="${bookCheckout.studentId}" class="form-control">
        </label>
        <label>Issue Date
            <input type="date" th:field="${bookCheckout.issueDate}" class="form-control">
        </label>
        <label>Expected Return Date
            <input type="date" th:field="${bookCheckout.expectedReturnDate}" class="form-control">
        </label>
        <label>Actual Return Date
            <input type="date" th:field="${bookCheckout.actualReturnDate}" class="form-control">
        </label>
        <label>Is Checkout
            <input type="checkbox" th:field="${bookCheckout.checkout}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>
</form>
</body>
</html>