<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{toolbar :: head}"></head>
<body class="container">
<header th:replace="~{toolbar :: header}"></header>
<p th:text="${errorMsg}" style="color:red;"></p>

<form  method="post">
        <div class="form-group">
            <input name="bookId" type="hidden" class="form-control"/>
            <label>Name :
                <span th:text="${book.name}"></span>
            </label>
        </div>
        </br>
        <div>
        <select name="studentId" required>
            <option value="">Select Student</option>
            <option th:each="student : ${allstudents}" th:value="${student.id}" th:text="${student.id}+' | '+${student.firstname}"></option>
        </select>
        </div>
        </br>
        <div>

       <label>Expected Return Date
           <input type="date" th:field="${bookCheckout.expectedReturnDate}" th:value="${bookCheckout.expectedReturnDate}" class="form-control">
        </label>

        </div>
    <br/>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>
</form>
</br>
<div>
    <a th:href="@{'/books/'}">Back To Books</a>
</div>
</body>
</html>