<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{toolbar :: head}"></head>
<body class="container">
<header th:replace="~{toolbar :: header}"></header>
<br />


<p th:text="${errorMsg}" style="color:red;"></p>

<form  method="post">
    <div class="form-group">
        <label>Book Id
            <input th:value="${bookId}" name="bookId" type="text" class="form-control" readonly>
        </label>
        <label>Student Id
            <input name="studentId" type="text" class="form-control" >
        </label>
       <label>Expected Return Date
           <input type="date" th:field="${bookCheckout.expectedReturnDate}" th:value="${bookCheckout.expectedReturnDate}" class="form-control">
        </label>

    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>
</form>
<div>
    <a th:href="@{'/books/'}">Back To Books</a>
</div>
</body>
</html>