<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--head th:replace="~{fragments :: head}"></head-->
<body class="container">

<!--header th:replace="~{fragments :: header}"></header-->
<form
        method="post">
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${book.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${book.description}"></td>
    </tr>
    <tr>
        <th>Author Name</th>
        <td th:text="${book.authorName}"></td>
    </tr>
    <tr>
        <th>Publishing Year</th>
        <td th:text="${book.publishingYear}"></td>
    </tr>
    <tr>
        <th>Price</th>
        <td th:text="${book.price}"></td>
    </tr>
    <tr>
        <th>Genre</th>
        <td th:text="${book.genre}"></td>
    </tr>
    <tr>
        <th>Copies</th>
        <td th:text="${book.copies}"></td>
    </tr>

</table>
    <div class="form-group">
        <input type="submit" value="Do you want to delete?" class="btn btn-success">
    </div>
</form>

</body>
</html>