<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{toolbar :: head}"></head>
<body class="container">
<header th:replace="~{toolbar :: header}"></header>
<!--header th:replace="fragments :: header"></header-->
<p th:text="${errorMsg}" style="color:red;"></p>
<!--/* This div code need to be added for redirecting the page */-->
<div th:if="${param.success}">
    <div class="alert alert-info">
        You have successfully updated a book!
    </div>
</div>
<!--/* action is missing so added action */-->
<form method="post"  >
    <div class="form-group">
        <input th:field="${book.id}" type="hidden" class="form-control"/>
        <input th:field="${book.availableCopiesToIssue}" type="hidden" class="form-control"/>
        <label>Name
            <input th:field="${book.name}" class="form-control">
        </label>
        <p class="error" th:errors="${book.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${book.description}" class="form-control">
        </label>
        <p class="error" th:errors="${book.description}"></p>
    </div>
    <div class="form-group">
        <label>Author Name
            <input th:field="${book.authorName}" class="form-control">
        </label>
        <p class="error" th:errors="${book.authorName}"></p>
    </div>
    <div class="form-group">
        <label>Publishing Year
            <input th:field="${book.publishingYear}" class="form-control">
        </label>
        <p class="error" th:errors="${book.publishingYear}"></p>
    </div>
    <div class="form-group">
        <label>Price
            <input th:field="${book.price}" class="form-control">
        </label>
        <p class="error" th:errors="${book.price}"></p>
    </div>
    <div class="form-group">
        <label>Genre
            <input th:field="${book.genre}" class="form-control">
        </label>
        <p class="error" th:errors="${book.genre}"></p>
    </div>
    <br/>
    <span  STYLE="font-weight:bold">Manage Inventory</span>
    <br/>
    <div class="form-group">
        <label>Number of book copies in library
            <input th:field="${book.copies}" class="form-control" readonly>
        </label>
        <p class="error" th:errors="${book.copies}"></p>
    </div>

    <div class="form-group">
        <label>Number of book copies to add to library
            <input th:field="${booksInventory.booksToAdd}" class="form-control" >
        </label>
    </div>
    <div class="form-group">
        <label>Number of book copies to remove from library
            <input th:field="${booksInventory.booksToRemove}" class="form-control" >
        </label>
    </div>
    <br/>

    <div class="form-group">
        <input type="submit" value="update" class="btn btn-success">
    </div>
</form>
<div>
    <a th:href="@{'/books/'}">Back To Books</a>
</div>
</body>
</html>