<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header3"></header>
<form th:action="@{/booksinfo/delete}" method="post">
   <div class="form-group">
      <label> Book Name
         <input th:field="${bookinfo.bookname}" class="form-control">
      </label>
      <p class="error" th:errors="${bookinfo.bookname}"></p>
   </div>
   <div class="form-group">
      <label> Author Name
         <input th:field="${bookinfo.authorname}" class="form-control">
      </label>
      <p class="error" th:errors="${bookinfo.authorname}"></p>
   </div>
   <div class="form-group">
      <label> Genre
         <input th:field="${bookinfo.genre}" class="form-control">
      </label>
      <p class="error" th:errors="${bookinfo.genre}"></p>
   </div>
   <br>
   <div class="form-group">
      <input type="submit" value="Request Book" class="btn btn-success">
   </div>
</form>



</body>
</html>