<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header3"></header>

<form th:action="@{/booksinfo/delete}" method="post">

    <th:block th:each="bookinfo : ${booksinfo}">
        <div>
            <label>
                <span th:text="${bookinfo.bookname}"></span>
                <input type="checkbox" name="BookinfoIds" th:value="${bookinfo.id}" class="form-control">
            </label>
        </div><br>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>