<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
   <meta charset="UTF-8"/>
   <title>Learner's Library</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
   <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<nav th:fragment="header2">
   <h1 th:text="${title}">Student Management</h1>
   <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
      <li class="nav-item"><a class="nav-link" href="/students/delete">Delete Student</a></li>
      <li class="nav-item"><a class="nav-link" href="/students/search">Search Student</a></li>
   </ul>
</nav>
<nav th:fragment="header3">
   <h1 th:text="${title}">Book Information</h1>
   <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/booksinfo/add">Request Book</a></li>
      <li class="nav-item"><a class="nav-link" href="/booksinfo/delete">Delete Book Request</a></li>
      <li class="nav-item"><a class="nav-link" href="/booksinfo/search">Book Information API</a></li>
   </ul>
</nav>
</body>

<body>
<nav th:fragment="header">
   <h1 th:text="${title}">Learner's Library</h1>
   <ul class="nav">
      <!--li class="nav-item"><a class="nav-link" href="/user">User Management</a></li-->
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      <li class="nav-item"><a class="nav-link" th:href="@{/books}">Book Management</a></li>
      <li class="nav-item"><a class="nav-link" href="/checkout">Checkout Book</a></li>
      <li class="nav-item"><a class="nav-link" href="/checkin">Checkin Book</a></li>
      <li class="nav-item"><a class="nav-link" href="/students">Student Management</a></li>
      <li class="nav-item"><a class="nav-link" th:href="@{/booksinfo}">Book Information</a></li>
      <li class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</li>
   </ul>
</nav>

</body>
</html>