<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<link rel="stylesheet" th:href="@{/styles.css}">
<body class="container">
<header th:replace="~{toolbar :: header}"></header>
<header th:replace="fragments :: header2"></header>
<form th:action="@{/students/add}" method="post">
    <div class="form-group">
        <label> First Name
            <input th:field="${student.firstname}" class="form-control">
        </label>
        <p class="error" th:errors="${student.firstname}"></p>
    </div>
    <div class="form-group">
        <label> Last Name
            <input th:field="${student.lastname}" class="form-control">
        </label>
        <p class="error" th:errors="${student.lastname}"></p>
    </div>
    <div class="form-group">
        <label> Contact Email
            <input th:field="${student.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${student.contactEmail}"></p>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success">
    </div>
</form>


</body>
</html>